.imageAndText {position: relative;} 
.imageAndText .col {position: absolute; z-index: 1; top: 0; left: 2}

.caption {
        width:100%;
        //bottom: .3rem;
        position: absolute;
        z-index: 1; 
        top: 0; left: 2;
        }

    .thumbnail {
        border: 0 none;
        box-shadow: none;
        margin:0;
        padding:0;
    }

    .caption h4 {
        color: #fff;
        -webkit-font-smoothing: antialiased;
        position: absolute;
    }