
<div class="container-fluid">
<div class="row">
<div ng-repeat="vegitable in vegitables">

<div class='col-xs-8 col-sm-4 col-md-4 imageAndText'>

<img class='img-responsive' src="images/vegitable/{{vegitable.name}}" alt="img">
<div class="caption">
    <h4><span>name:</span>{{vegitable.name}}</h4><br>
	<h4><span>price:</span>{{vegitable.details.price}}</h4><br>
	<h4><span>status:</span>{{vegitable.details.status}}</h4><br>
	
</div>
  <!-- <select name ="selectedQuantity" ng-model="selectedQuantity" 
         ng-options="a for a in quantity"
         ng-change="dropboxitemselected(vegitable,selectedQuantity)">
  </select> -->
  <select name="selectedQuantity" id="selectedQuantity" ng-model="vegitable.details.selectedQuantity">
      <option ng-repeat="option in quantity" value="{{option}}">{{option}}</option>
    </select>
  
  <button type="button" class="btn btn-info btn-xs" ng-click="addToBuyList(vegitable)">Buy</button>
  <button type="button" 
     
     class="btn btn-info btn-xs" ng-click="removeFromBuyList(vegitable)" >Remove</button>
  
</div>

</div>
<div class='col-md-8'>total</div>

</div>
<br>
</div>



